# Apache configuration file for URL rewrite rules and redirection.

# Enables the runtime rewriting engine
RewriteEngine On 

# Sets the base URL for per-directory rewrites
RewriteBase /Pulse-Framework-PHP/ 

# This section allows access to the 'public' directory and all its routes
RewriteRule ^public/ - [L]

# Redirects any non-allowed access to the main directory to an error page (e.g., 403 Forbidden)
RewriteRule ^system/ - [F]
RewriteRule ^app/ - [F]

# If the requested filename is not an existing file or directory, it redirects the request to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]